In [5]:
import yfinance as yf
import pandas as pd

In [12]:
data = yf.download("AAPL", start="2015-01-01", end="2025-01-01")

C:\Users\KUNAL\AppData\Local\Temp\ipykernel_18756\1227429636.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("AAPL", start="2015-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed

In [13]:
data.head()

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2015-01-02  24.261044  24.729267  23.821668  24.718171  212818400
2015-01-05  23.577572  24.110148  23.391171  24.030261  257142000
2015-01-06  23.579796  23.839426  23.218087  23.641929  263188400
2015-01-07  23.910433  24.010290  23.677430  23.788384  160423600
2015-01-08  24.829124  24.886821  24.121242  24.238854  237458000