In [27]:
import yfinance as yf
import pandas as pd

In [28]:
data = yf.download("AAPL", start="2015-01-01", end="2025-01-01")

C:\Users\KUNAL\AppData\Local\Temp\ipykernel_18456\1227429636.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("AAPL", start="2015-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed

In [29]:
data.head()

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2015-01-02  24.261045  24.729268  23.821670  24.718172  212818400
2015-01-05  23.577574  24.110150  23.391173  24.030263  257142000
2015-01-06  23.579798  23.839428  23.218089  23.641931  263188400
2015-01-07  23.910439  24.010296  23.677436  23.788389  160423600
2015-01-08  24.829126  24.886823  24.121244  24.238856  237458000